@import "../../../index.css";

.input-container {
  display: flex;
  font-size: 1.3rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  outline: none;
  width: 100%;
  border: 2px solid var(--color-light);
  padding-left: 0.5rem;
}

.input-container:focus {
  background-color: var(--color-light);
  border: 2px solid var(--color-dark);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}
